{% extends "piano/layout.html" %}
{% load static %}
{% block script %}<script type="module" src="{% static 'piano/scripts/midi.js' %}"></script>{% endblock %}
{% block body %}
<main class="max-width">

  <div id="head-nav">
    <div class="dropdown">
      <button class="dropdown-toggle button" id="midi-btn" data-bs-toggle="dropdown">MIDI: None</button>
      <div class="dropdown-menu" id="devices"></div>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle button" data-bs-toggle="dropdown">Instrument: Piano</button>
      <div class="dropdown-menu">
        <button class="text dropdown-item active">Piano</button>
        <button class="text dropdown-item">Synth</button>
      </div>
    </div>

    <button class="button">Save Preset</button>
    <button class="button">Clear</button>
    
  </div>

  <div id="piano-container">
    <div id="sharp-keys">
      <span class="key sharp" data-note="C#" data-octave="3"></span>
      <span class="key sharp" data-note="D#" data-octave="3"></span>
      <span class="key sharp hidden"></span>
      <span class="key sharp" data-note="F#" data-octave="3"></span>
      <span class="key sharp" data-note="G#" data-octave="3"></span>
      <span class="key sharp" data-note="A#" data-octave="3"></span>
      <span class="key sharp hidden"></span>
      <span class="key sharp" data-note="C#" data-octave="4"></span>
      <span class="key sharp" data-note="D#" data-octave="4"></span>
      <span class="key sharp hidden"></span>
      <span class="key sharp" data-note="F#" data-octave="4"></span>
      <span class="key sharp" data-note="G#" data-octave="4"></span>
      <span class="key sharp" data-note="A#" data-octave="4"></span>
      <span class="key sharp hidden"></span>
      <span class="key sharp" data-note="C#" data-octave="5"></span>
      <span class="key sharp" data-note="D#" data-octave="5"></span>
      <span class="key sharp hidden"></span>
      <span class="key sharp" data-note="F#" data-octave="5"></span>
      <span class="key sharp" data-note="G#" data-octave="5"></span>
      <span class="key sharp" data-note="A#" data-octave="5"></span>
    </div>
    <div id="keys">
      <span class="key low-c" data-note="C" data-octave="3"></span>
      <span class="key" data-note="D" data-octave="3"></span>
      <span class="key" data-note="E" data-octave="3"></span>
      <span class="key" data-note="F" data-octave="3"></span>
      <span class="key" data-note="G" data-octave="3"></span>
      <span class="key" data-note="A" data-octave="3"></span>
      <span class="key" data-note="B" data-octave="3"></span>
      <span class="key" data-note="C" data-octave="4"></span>
      <span class="key" data-note="D" data-octave="4"></span>
      <span class="key" data-note="E" data-octave="4"></span>
      <span class="key" data-note="F" data-octave="4"></span>
      <span class="key" data-note="G" data-octave="4"></span>
      <span class="key" data-note="A" data-octave="4"></span>
      <span class="key" data-note="B" data-octave="4"></span>
      <span class="key" data-note="C" data-octave="5"></span>
      <span class="key" data-note="D" data-octave="5"></span>
      <span class="key" data-note="E" data-octave="5"></span>
      <span class="key" data-note="F" data-octave="5"></span>
      <span class="key" data-note="G" data-octave="5"></span>
      <span class="key" data-note="A" data-octave="5"></span>
      <span class="key" data-note="B" data-octave="5"></span>
      <span class="key high-c" data-note="C" data-octave="6"></span>
    </div>
  </div>
  
</main>
{% endblock %}