{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MIDI Piano{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{% static 'piano/favicon.ico' %}">
  <!-- Tone.js -->
  <script src="https://cdn.jsdelivr.net/npm/tone@15.0.4/build/Tone.min.js"></script>
  <!-- Knobs -->
  <script type="module" src="https://www.unpkg.com/dial-gauge/dial-gauge.js"></script>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fustat:wght@200..800&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!-- Static files -->
  <script type="module" src="{% static 'piano/scripts/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'piano/styles.css' %}">
  {% block script %}{% endblock %}
</head>
<body>
  <audio id="silent" loop>
    <source src="{% static 'piano/samples/silent.mp3' %}" type="audio/mp3"></source>
  </audio>
  {% csrf_token %}
  <nav id="nav" class="desktop">
    <div id="logo-container">
      <svg id="logo" viewBox="0 0 900.000000 900.000000"><g transform="translate(0.000000,900.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M0 4500 l0 -4500 940 0 940 0 0 2125 0 2125 -219 0 c-121 0 -226 3 -235 6 -15 6 -16 224 -16 2375 l0 2369 -705 0 -705 0 0 -4500z"/><path d="M2828 6628 l-3 -2373 -232 -3 -233 -2 0 -2125 0 -2125 945 0 945 0 0 2125 0 2125 -232 2 -233 3 -3 2373 -2 2372 -475 0 -475 0 -2 -2372z"/><path d="M5198 6628 l-3 -2373 -232 -3 -233 -2 0 -2125 0 -2125 945 0 945 0 0 2125 0 2125 -232 2 -233 3 -3 2373 -2 2372 -475 0 -475 0 -2 -2372z"/><path d="M7570 6631 c0 -2151 -1 -2369 -16 -2375 -9 -3 -114 -6 -235 -6 l-219 0 0 -2125 0 -2125 950 0 950 0 0 4500 0 4500 -715 0 -715 0 0 -2369z"/></g></svg> 
      <h1 class="heading-font" id="title">MIDI Piano</h1>
    </div>
    <ul id="nav-links">
      <li class="link"><a href="{% url 'home' %}">Home</a></li>
      <li class="link"><a href="{% url 'presets' %}">Presets</a></li>
      <li class="link"><a href="{% url 'account' %}">Account</a></li>
    </ul>
    <input id="preset-searchbar" class="text-input" type="text" placeholder="Search Presets">
    <ul id="presets"></ul>
  </nav>
  <div id="login-btns" class="desktop">
    <div id="volume-container">
      <input type="range" class="range" id="volume-slider" min="0" max="25" value="25">
      <i class="bi bi-volume-down-fill" id="volume-icon"></i>
      <span class="track"></span>
    </div>
    <button class="button" id="theme-btn">
      <i class="light-dark-icon bi bi-moon-stars-fill"></i>
    </button>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><button class="button">Logout</button></a>
    {% else %}
    <a href="{% url 'login' %}"><button class="button">Login</button></a>
    {% endif %}
  </div>
  {% block body %}
  {% endblock %}
  <script>
    function isChrome() {
      return /Chrome/i.test(navigator.userAgent) && !/Edge|Edg/i.test(navigator.userAgent);
    }

    if (isChrome()) {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/webmidi@next/dist/iife/webmidi.iife.js';
      document.head.appendChild(script);
    }
  </script>
</body>
</html>